body
{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-image: url('background.jpg');
    background-position: top center;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


#TextCounter
{
    text-align: center;
    color: pink;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 9999999;
    font: 40px 'ChunkFiveRegular';
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
}


#copyright
{
    
    padding-top:195px;
    font-weight: bold;
    color: #ff496c;
    width: 100%;
    font-size: 18px;
    padding-left:490px;
}


#BgContent
{
    height: 621px;
    width: 908px;
    position:relative;
    clear:both;
    margin-left: auto;
    margin-right: auto;
    background-image: url('bgcontent.png');
    background-position: top center;
    background-repeat: no-repeat;

}

#MusicPlayer
{
    margin-top:15px;
    padding-left:450px;
   
}


#TextContent
{
    background-color: rgba(228, 228, 231, 0.8);
    border-radius: 8px;
    padding: 15px;
    width:570px;
    margin-top:100px;
    line-height:25px;
    z-index:9999998;
    margin-left:auto;
    margin-right:auto;
    font-size: 13px;
    font-weight: 600;
    height: 750px;
  
}

.btn-margin-left {
    margin-right: 1rem;
}

.slider {
	width: 100px;
    margin: 2em auto;
    z-index: 9999999;
}

.slider-wrapper {
	width: 100%;
	height: 100px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#ask-continue {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 15px;
    border-radius: 8px;
    background-color: transparent;
    color:#e74c3c;
    border: 2px solid #e74c3c;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#ask-continue:hover {
    color: #fff;
    box-shadow: 0 0 40px 40px #e74c3c inset;
}